<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/logo_sito.png">   
    <title>Fisher Company - Articoli</title>
    
</head>
<body>
    <%- include("partials/nav"); %>
    
    <div id="content" >
        <h1 class="page_title" >Articoli</h1>
        <hr class="linea">
        <div id="art_gallery">
            <% articles.forEach(article => { %> 
            <a href="/articolo/<%= article.article_id %> " class="link_article">
                <div class="article" >
                    <img src="<%= article.img %>" class="img_article">
                    <div class="data_article">
                        <h2 class="title_article" ><%= article.name %></h2>
                        <p class="description_article" ><%= article.descr %></p>
                        <h3 class="price_article" ><%= article.price %> &euro;</h3>
                    </div>
                </div>
            </a>
            <% }); %>
        </div>
    </div>

    <%- include("partials/footer"); %> 
</body>
</html>