<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/logo_sito.png">
    <title>Fisher Company - Amo</title>

</head>
<body>
    <%- include("partials/nav"); %>

    <div id="content" >
        <div id="container_pag_article">
            <img src="<%= article.img %>" id="img_pag_article">
            <div id="data_pag_article">
                <div>
                    <h1 id="title_pag_article"><%= article.nome %></h1>
                    <hr id="linea_pag_article" >
                    <p id="descr_pag_article" >
                        <%= article.descr %>
                    </p>
                </div>
                <div id="buy_pag_article">
                    <h3>Prezzo: <%= article.price %> €</h3>
                    <% if(data.login) {%> 
                        <% if(quant) {%>
                            <h5>Nel Carrello: <%= quant %></h5>
                        <% } %> 
                        <button class="button" onclick="sendReq('/addToCart/<%= article.article_id %>')">Aquista</button> 
                    <% }else{ %>
                        <button class="button" id="buy_art" onclick="location.href = '/login'">Aquista</button> 
                    <% } %>  
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); %> 
</body>
</html>