<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/logo_sito.png">
    <title>Fisher Company - Amo</title>

</head>
<body>
    <%- include("partials/nav"); %>

    <div id="content" >
        <div id="container_pag_article">
            <img src="<%= article.img %>" id="img_pag_article">
            <div id="data_pag_article">
                <div>
                    <h1 id="title_pag_article"><%= article.name %></h1>
                    <hr id="linea_pag_article" >
                    <p id="descr_pag_article" >
                        <%= article.descr %>
                    </p>
                </div>
                <div id="buy_pag_article">
                    <h3>Prezzo: <%= article.price %> €</h3>
                    
                    <h5>Nel Carrello: <%= data.quant %></h5>
                    
                    <button class="button" id="buy_art">Aquista</button> 
                </div>
            </div>
        </div>
    </div>
    
    <%- include("partials/footer"); %> 
    <script>
        if(!Number(document.querySelector("#buy_pag_article > h5").innerHTML.split(" ")[2]))
            document.querySelector("#buy_pag_article > h5").style.display = "none";

        document.querySelector("#buy_pag_article > button").onclick = () =>{
            <% if(data.login) { %>
            
                axios.post("/api/carts/"+ <%= data.cartId %>+"/articles?auth=<%= data.auth %>",{

                        artId: <%= article.article_id %>
                    }
                ).catch(err => alert(err));
                const quant = Number(document.querySelector("#buy_pag_article > h5").innerHTML.split(" ")[2]);
                if(quant < 10)
                {
                    document.querySelector("#buy_pag_article > h5").style.display = "block";
                    document.querySelector("#buy_pag_article > h5").innerHTML = "Nel Carrello: "+(quant+1);
                }
            <% } else { %>
                location.replace("/login");
            <% } %>
        }
    </script>
</body>
</html>